.container {
	width: 80%;
	margin: 0 auto;
}

/* Header*/
/* Navigator */




/* Landing Page */
#lander img {
	width: 70%;
	display: block;
	margin: 2rem auto 0;
}

/* Header Section Ends*/

/* Content Begins*/
#content {
	width: ;
	margin: auto;
	background: url('images/bg-curvy-mobile.svg') no-repeat center/cover;
}

.content-header {
	width: 90%;
	margin: 0 auto 2rem;
	padding: 2rem;
}

.content-text {
	width: 90%;
}


/* Content Ends */

/* Features Begin */
#features {
	flex-direction: column;
}

/* Features Ends*/

/* Productive Begins */
#our-claims {
	flex-direction: column
}

.image-holder {
	width: 100%
}

.image-holder img {
	width: 100%;
}

.assurance {
	width: 100%
}

.assurance h2 {
	width: 100%;
}

.assurance p {
	padding: 0 1.4rem 2rem;
	line-height: 1.7;
}


/* Productive Ends */

/* Testimonial Begins */
#testimonials {
	width: 70%;
}

.testimonies {
	flex-direction: column;
}

/* Testimonial Ends */

/* Access Begins*/
#access {
	width: 70%;
	top: 50px;
	left: 14%;
}

#access p {
	padding: 1rem;
	font-size: 0.9rem;
	line-height: 1.7;
	margin-bottom: 1.5rem
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}

#email {
	margin-right: 0;
	margin-bottom: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.1rem
}

#submit {
	padding: 1rem;
	margin-left: 0;
}

/* Access Ends */

/* Footer Begins */
.footnote {
	display: flex;
	flex-direction: column;
}

.footnote > img {
	width: 200px;
}

.footcard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.footcard img {
	width: 20px;
	height: 20px;
}

.footcard1 {
	display: flex;
	width: 100%;
}

.footcard1 p {
	width: 100%;
	font-size: 1.3rem;
	padding-left: 1.6rem;
	line-height: 1.3;
	margin-bottom: 4rem
}

.footcard2 {
	width: 300px
}

.card-content {
	display: flex;
	margin-bottom: 1.5em
}

.card-content img {
	display: block;
	margin-right: 15px;
	margin-top: 1px
}

.card-content p {
	font-size: 1.2rem
}

.footcard3 {
	padding: 0;
	line-height: 2.5;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	margin-left: 0rem;
	margin-bottom: 1rem;
}

.footcard3 ul {
	padding: 1rem 0;
	margin: 0rem;
}



.footcard4 {
	margin: auto
}

.footcard4 a {
	display: inline-block;
	padding: 0.8rem;
	border-radius: 50%;
	border: 1px solid #fff;
	margin: 0.75rem;
}

.footcard4 a img {
	display: block;
	width: 0.8rem;
	height: 0.8rem;
}
